* {
    box-sizing: border-box;
}

.row:after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
    width: 100%;
}

a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

@media only screen and (min-width: 500px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 1000px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

.banner {
    background-color: #ffffff;
    color: #ffffff;
    padding: 15px;
}

#imgSearch {
    height: 50px;
    width: 50px;
    float: right;
}

#inputSearch {
    height: 50px;
    border: 0px;
}

#imgLogo {
    width: 175px;
    height: 75px;
    display: block;
    margin: 0 auto;
}

#imgLove {
    height: 50px;
    width: 50px;
    float: right;
}

#imgShop {
    height: 50px;
    width: 50px;
}

#subImage1 {
    max-width:300px;
    height: auto;
    float:right;
}

#subImage2 {
    max-width:300px;
    height: auto;
}

#inputNewsLetter {
    background-color: transparent;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: black;
}

/*Carousel*/

.slideshow-container {
    max-width: 640px;
    position: relative;
    margin: auto;
}

.Slides {
    display: none;
}

.imgSlides {
    width: 100%;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@media only screen and (max-width: 300px) {
    .prev, .next {font-size: 11px}
}
.footer {
    background-color: #ff6961;
    text-align: center;
    color: #ffffff;
    padding: 15px;
}

body
{
    margin: 0;
    padding: 0;
}

.navigation-item:hover
{
    border-bottom: 3px solid;
    border-bottom-color: #ff6961;
}

.navigation
{
    text-align: center;
}

.navigation > a
{
    color: black;
    text-decoration: none;
    margin-right: 100px;
    font-weight: bold;

}

#home
{
    border-bottom: 3px solid;
    border-bottom-color: #ff6961;
}

#title > h1
{
    text-align: center;
    color: red;
}

#container {
    background:#fff url("images/container-t.gif") no-repeat 0 0;
    padding:30px 20px;
    display: flex;
    justify-content: center;
}

#newsletter
{
    text-align: center;
}
.items {
    width:100% ; padding-bottom:50px;
    padding-left: 120px;
    padding-right: 80px;
    margin-right:-20px;
}
.items ul{
    list-style-type: none;
}
.items ul .image{ text-align: center; }
.items ul li{ float:left; border:dashed 1px #cfcfcf; width:200px; margin:0 18px 12px 0; padding:13px  }
.items ul li p span{ color:#890000}
.items ul li p.price{ padding-top:15px; }
.items ul li p.price strong{ color:#890000; font-size:14px;}
.items ul li.last {border: none;}

.items ul li a {color: black;}

.brands h3 { padding-bottom:10px;}
.brands a { margin-right:30px;}

.tabbed { min-height:420px;}

.dropdown a
{
    color: black;
    font-weight: bold;
    padding-right: 100px;
    text-decoration: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    border-bottom: 3px solid;
    border-bottom-color: #ff6961;
}

.dropdown:hover .dropdown-content {
    display: block;
}
